.container{
    width: 600px;
    padding: 10px;
    height: 600px;
    display: grid;
    color: #fff;
    margin: 50px auto;
    text-align: center;
    background-color: #00BFA6;
    box-shadow: -10px 15px 30px #00BFA6;
}

.container h1{
    padding: 10px;
}

.container input{
    width: 450px;
    height: 30px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.container textarea{
    width: 450px;
    margin: auto;
    padding: 5px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.container button{
    width: 300px;
    height: 40px;
    margin: auto;
    color: #fff;
    cursor: pointer;
    font-size: large;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #00BFA6;
    transition: all 400ms ease;
}

.container button:hover{
    font-size: 23px;
}

@media only screen and (max-device-width: 600px){
    .container{
        width: 90%;
        height: 700px;
    }
    .container input{
        width: 90%;
    }
    .container textarea{
        width: 90%;
    }
}