.container{
    width: 100%;
    height: 400px;
    display: flex;
    border: 1px solid #000;
}

.child{
    width: 50%;
    height: 100%;
    border: 1px solid #000;
    background-color: #000;
}

.child h1{
    color: #fff;
}

.faixa{
    width: 5%;
    height: 100%;
    border: 1px solid #000;
}

