.container{
    width: 100%;
    color: #fff;
    height: 400px;
    display: grid;
    align-items: center;
    background-color: #00BFA6;
    justify-content: space-around;
}

.child{
    display: grid;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #fff;
    justify-content: space-around;
}

.child h1{
    font-size: 45px;
}