.container{
    display: grid;
    padding: 5px;
    width: 250px;
    height: 250px;
    margin: 30px auto;
    text-align: center;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: -10px 15px 30px #9a82c4;
    transition: all 400ms ease;
}

.container h1{
    font-size: 30px;
    color: #6b2cf1;
}

.container:hover{
    padding: 15px;
}

.container p{
    padding: 3px;
}