.verso{
    width: 800px;
    height: 400px;
    color: #fff;
    margin: 30px auto;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(#00BFA6, #008371);
}

.emissao{
    padding: 1.4%;
}

.faixa{
    width: 100%;
    height: 25%;
    background-color: #000;
}

.caixote{
    width: 100%;
    height: 150px;
    display: flex;
    margin-top: 10px;
    /* border: 1px solid #000; */
}

.part{
    width: 300px;
    height: 100%;
    /* border: 1px solid #000; */
}

.box{
    width: 250px;
    height: 100%;
    /* border: 1px solid #000; */
}

.box p{
    padding: 4px;
    margin: 0px 6px;
    font-size: 12px;
    text-align: left;
}

.footer{
    width: 100%;
    height: 90px;
    display: flex;
    /* border: 1px solid #000; */
    align-items: center;
}

.footer h1{
    margin-left: 25px;
    text-align: left;
}

.infos{
    width: 400px;
    display: flex;
    margin-left: 20px;
    /* border: 1px solid #000; */
    justify-content: space-around;
}

.info{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info p{
    font-size: 13px;
}

.info h2{
    font-size: medium;
}

.cvv{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cvv p{
    font-size: 13px;
}

.cvv h2{
    font-size: medium;
}

.emissaoData{
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.emissaoData p{
    font-size: 13px;
}

.emissaoData h2{
    font-size: medium;
}

@media only screen and (max-device-width: 500px){
    .verso{
        width: 90%;
        height: 190px;
    }
    .box{
        width: auto;
    }
    .box p{
        font-size: 5px;
    }
    .silver{
        width: 100px;
        height: 50px;
    }
    .part{
        width: 100px;
        height: auto;
    }
    .footer{
        height: auto;
    }
    .footer h1{
        font-size: 0px;
        height: auto;
    }
    .caixote{
        height: auto;
        justify-content: space-around;
    }
    .infos p{
        font-size: small;
    }
    .infos h2{
        font-size: small;
    }
    .faixa{
        height: 10%;
    }
    .emissao{
        font-size: 10px;
    }
}