.container{
    width: 800px;
    height: 400px;
    display: flex;
    margin: 50px auto;
    border-radius: 15px;
    background: linear-gradient(#008371, #00BFA6);
}

.child{
    width: 70%;
    height: 100%;
}

.content{
    width: 200px;
    display: flex;
    margin-top: 130px;
    margin-left: 100px;
    align-items: center;
}

.chip{
    width: 80px;
    height: 55px;
    display: flex;
    border-radius: 5px;
    background: linear-gradient(#c5c5c5, #a3a3a3);
}

.linha01{
    width: 70%;
    height: 30%;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0px 0px 15px 0px;
}

.linha02{
    width: 20%;
    height: 70%;
    margin-top: 15px;
    margin-left: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 15px 0px 0px 0px; 
}

.img{
    margin: 0px 30px;
}

.marcaNome{
    width: 450px;
    display: flex;
    color: #fff;
    margin-top: 70px;
    margin-left: 100px;
    align-items: center;
}

.marcaNome p{
    margin-left: 30px;
    font-size: 30px;
}

.lateral{
    width: 30%;
    height: 100%;
    display: flex;
}

.visa{
    margin: 70px auto;
}

.verso{
    width: 800px;
    height: 400px;
    color: #fff;
    margin: 50px auto;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(#00BFA6, #008371);
}

.emissao{
    padding: 10px;
}

.faixa{
    width: 100%;
    height: 100px;
    background-color: #000;
}

.caixote{
    width: 100%;
    height: 150px;
    display: flex;
    /* border: 1px solid #000; */
}

.part{
    width: 300px;
    height: 100%;
    margin-top: 10px;
    /* border: 1px solid #000; */
}

.box{
    width: 250px;
    height: 100%;
    margin-top: 10px;
    /* border: 1px solid #000; */
}

.box p{
    padding: 4px;
    margin: 0px 6px;
    font-size: 12px;
    text-align: left;
}

.footer{
    width: 100%;
    height: 90px;
    display: flex;
    margin-top: 10px;
    /* border: 1px solid #000; */
    align-items: center;
}

.footer h1{
    margin-left: 25px;
    text-align: left;
}

.infos{
    width: 400px;
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
}

.info{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info p{
    font-size: 13px;
}

.info h2{
    font-size: medium;
}

.cvv{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cvv p{
    font-size: 13px;
}

.cvv h2{
    font-size: medium;
}

.emissaoData{
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.emissaoData p{
    font-size: 13px;
}

.emissaoData h2{
    font-size: medium;
}