.container{
    display: flex;
    justify-content: center;
}

.child{
    width: 100%;
    height: 500px;
    display: flex;
    color: #fff;
    justify-content: center;
    background-color: #2e2e2e;
}

.global{
    width: 80%;
    height: auto;
}

.local{
    width: 100%;
    height: auto;
    display: flex;
}

.localBottom{
    width: 100%;
    height: auto;
    display: flex;
}

.interno{
    width: 50%;
    height: 100%;
}

.TitleRede{
    text-align: right;
}

.apps{
    width: 400px;
    height: 60px;
    padding: 5px;
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #fff;
}

.icons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.icon{
    width: 80px;
    height: 80px;
    display: grid;
    border-radius: 50%;
    align-items: center;
    margin: 10px;
}

.interno ul{
    text-align: right;
}

.img{
    width: 80px;
    height: 80px;
}

.text{
    padding: 10px;
}

@media only screen and (max-device-width: 1000px){
    .child{
        height: auto;
    }
    .icon img{
        width: 45px;
        height: 45px;
    }
    .apps{
        width: 80%;
    }
    .global{
        width: 90%;
        height: 100%;
    }
    .local{
        display: grid;
    }
    .interno{
        width: 85%;
        height: auto;
    }
    .interno ul{
        text-align: left;
    }
    .TitleRede{
        text-align: left;
    }
}