.container{
    width: 300px;
    height: 300px;
    display: grid;
    text-align: center;
    background-color: #00BFA6;
    box-shadow: 0px 7px 15px #000;
}

.container h2{
    margin: 0px auto;
}

.container p{
    padding: 8px;
}

.img{
    margin: 0px auto;
}